// Заголовки, загальні БЕМ блоки та інше...
$accentColor: #192252;
$orangeColor: #FF620A;

.page {

    // .page__hero

    &__hero {}

    &__learn {}

    &__about {}

    &__rooms {}

    &__how-get {}

    &__customers {}
}

.logo {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 32px;
    line-height: 1, 2;
}

.button {
    color: #FFFFFF;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 14px 16px;
    gap: 10px;
    background: #0E1734;
    border-radius: 4px;

    transition: color 0.3s ease 0s;
        @media (any-hover: hover) {
                &:hover {
                    color: #FFFFFF;
                    background-color: $orangeColor;
                }
            }
    // .button__common

    &__common {}
}

.title {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 36px;
    line-height: 150%;
    letter-spacing: -0.01em;
    color: #192252;

    &__big {
        font-size: 48px;
    }
}

.text {
    font-weight: 400;
    line-height: 150%;
}