//====================================================================================================
.footer {
    background-color: #0B265A;
    @include adaptiveValue("padding-top", 120, 35);
    @include adaptiveValue("padding-bottom", 120, 35);

    // .footer__container

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #D9DBDE;

            @media (max-width: em(630)) {
                    flex-direction: column;
                    @include adaptiveValue("gap", 60, 20);
                    align-items: flex-start;
                }
    }

    // .footer__main-block

    &__main-block {}

    // .footer__logo

    &__logo {
        color: #ffffff;
        margin-bottom: rem(13);
    }

    // .footer__social

    &__social {}

    // .footer__content

    &__content {}
}

.footer-main-block {

    // .footer-main-block__text

    &__text {
        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
        width: rem(186);
        @include adaptiveValue("margin-bottom", 36, 15);
    }
}

.social-footer {

    // .social-footer__list

    &__list {
        display: flex;
        align-items: center;

    }

    &__link {
        @media (any-hover: hover) {
                &:hover {

                }
            }
    }
    // .social-footer__item

    &__item {
        &:not(:last-child) {
                margin-right: rem(24);
            }

            img {
            
            }
    }
}

.content-footer {

    // .content-footer__list

    &__list {
        display: flex;
        justify-content: space-between;
        @include adaptiveValue("gap", 105, 10);


    }

    // .content-footer__item

    &__item {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.18;
    }
}

.item-content {

    // .item-content__list

    &__list {
        
    }

    &__link {
        white-space: nowrap;
        @media (any-hover: hover) {
                &:hover {
                    text-decoration: underline;
                }
            }
    }

    // .item-content__item

    &__item {
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 24, 10);
            }        
    }

    // .item-content__item-title

    &__item-title {
        font-weight: 700;
        letter-spacing: 0.01em;
        color: #FFFFFF;
    }
}
//====================================================================================================
