//====================================================================================================


.hero {
    @include adaptiveValue("margin-top", 80, 40);
    @include adaptiveValue("margin-bottom", 96, 40);

    // .hero__container

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: rem(24);
    }

    // .hero__main-block

    &__main-block {}

    // .hero__title

    &__title {}

    // .hero__text

    &__text {
        margin-top: rem(24);
        margin-bottom: rem(32);
        max-width: rem(485);
    }

    // .hero__images

    &__images {
        display: flex;
        justify-content: space-between;
        gap: rem(24);
    }
}

.img-1 {}

.img-2 {
    margin-top: rem(80);
}

.img-3 {}

// learn--------------------------------------------------

.learn {

    // .learn__container

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: rem(126);        
    }

    // .learn__images

    &__images {}

    // .learn__main-block

    &__main-block {}

    // .learn__title

    &__title {
        margin-bottom: rem(24);
    }

    // .learn__text

    &__text {
        margin-bottom: rem(16);
    }

    &__button {
        margin-top: rem(32);
    }
}

//====================================================================================================
