//====================================================================================================


.hero {
    @include adaptiveValue("margin-top", 80, 40);
    @include adaptiveValue("margin-bottom", 96, 40);

    // .hero__container

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: rem(24);
    }

    // .hero__main-block

    &__main-block {}

    // .hero__title

    &__title {}

    // .hero__text

    &__text {
        margin-top: rem(24);
        margin-bottom: rem(32);
        max-width: rem(485);
    }

    // .hero__images

    &__images {
        display: flex;
        justify-content: space-between;
        gap: rem(24);
    }
}

.img-1 {}

.img-2 {
    margin-top: rem(80);
}

.img-3 {}

// learn--------------------------------------------------

.learn {

    // .learn__container

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: rem(126);        
    }

    // .learn__images

    &__images {}

    // .learn__main-block

    &__main-block {}

    // .learn__title

    &__title {
        margin-bottom: rem(24);
    }

    // .learn__text

    &__text {
        margin-bottom: rem(16);
    }

    &__button {
        margin-top: rem(32);
    }
}

// about--------------------------------------------------


.about {
    @include adaptiveValue("margin-top", 80, 60);
    @include adaptiveValue("margin-bottom", 60, 60);

    // .about__container

    &__container {
        // display: grid;
        // grid-template-columns: repeat(2, 1fr);
        // grid-auto-columns: minmax(auto, rem(584));
        // column-gap: rem(126);
        // row-gap: rem(32);
        // align-items: center;
        display: flex;
        flex-wrap: wrap;
        flex-grow: 100%;
        
        
    }

    &__row {
        display: flex;
        align-items: center;
        
        &:not(:last-child) {
            
                margin-bottom: rem(32);
            }
    }

    // .about__item

    &__item {

    }

    // .about__title

    &__title {
        margin-bottom: rem(24);
    }

    // .about__text

    &__text {}
}

.item-about {

    // .item-about__content

    &__content {}

    // .item-about__picture

    &__picture {}

    &__picture-1 {
        margin-left: rem(126);
    }

    &__picture-2 {
        margin-right: rem(126);
    }
}

//====================================================================================================
